/__history/
/__recovery/
/Alan Hensel/
/animations/
/archive/
/axlife/
/Backup/
/backup2/
/backup3/
/Backup4/
/bitmaps/
/download/
/GradForm/
/installshield/
/Java/
/old/
/zonderDD/
*.zip
*.dcu
*.killme
*.exe
!life32.exe
*.identcache
*.map
*.stat
*.~dsk
*.dsk
*.old
*kopie*
*.bpl
*.16a
*.mpt
*.dpl
*.cfg
*.d16
*.d32
*.ddp
*.dof
*.drc
*.local
*.mps
*.kwf
tabs95*
*.TR2
*.td2
/CBuilder3.txt
/Data.lnk
*.log
/gifcode.txt
*.dft
/Life_componenten.dpk
*.tvsconfig
/Life_componenten.res
/readme.txt
Thtabset*
/Untitled.dpc
thtabs*
thabout*
tbtest*
tabtest*
Life_componenten*
*.html
johan*
*.ini
*.htm
life32.dproj
life32.res
